params {
	config_profile_description = "Nanopore full-length 16S rRNA pipeline built by Disha Tandon, Hapfelmeier lab, IFIK, UniBe"
	config_profile_contact = "disha.tandon@unibe.ch"
	max_memory = 10.GB
	max_cpus = 10
	max_time = 24.h
	withName: nanopore {
        	container = '<path to sing_final.sif>'
    	}
}

singularity {
	singularity.enabled = true
	singularity.autoMounts = true
}

cleanup=true
